.logo {
  max-width: 200px;
  width: 70vw;
  transition: 0.3s ease;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

@media (max-width: 500px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav > a {
    width: 100%;
    margin: 10px 0;
  }
}

a:link,
a:visited {
  color: #909090;
}

a:hover {
  color: red;
  transform: translateY(2px);
}

.main-nav > a {
  text-decoration: none;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

.topBar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  z-index: 10;
}

.body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.content {
  width: 100%;
}

.capitalWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.capital > p {
  margin: 0px;
  text-align: center;
  font-size: 15pt;
}

.capital > .gameCapital {
  font-size: 40pt;
  font-weight: bold;
}

.suppliesItem {
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  transition: 0.1s;
}

.supplies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 14px;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  background-color: #a0a0a0;
  transform: translateY(1px);
}

.store {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
}

.storeItem {
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  width: 250px;
  background-color: white;
  transition: 0.1s;
}

.storeItem:hover,
.suppliesItem:hover,
.inventoryItem:hover {
  transform: translateY(2px);
}

.inventoryItem {
  transition: 0.1s;
  padding: 20px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
}

.lowerWrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.footer {
  background-color: white;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.usernameDisplay {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
}

.timer {
  font-weight: bold;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.capitalWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.capital {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lowerWrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.h2 {
  margin: 20px 0;
  text-align: center;
}

.itemTitle {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 5px;
}

.itemPrice {
  font-size: 16pt;
  font-weight: bold;
  color: #2d5016;
  margin-bottom: 10px;
}

.itemDescription {
  font-size: 10pt;
  margin-top: 10px;
  color: #666;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leaderboard {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.leaderboardData {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.leaderboardData td {
  padding: 10px;
  text-align: center;
}
