* {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

.headerMain .logo {
  max-width: 500px;
  width: 70vw;
  transition: 0.15s ease;
}

.headerMain .logo:hover {
  transform: scale(1.02);
}

.headerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.headerMain .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  font-weight: bold;
}

.mainNav .navLink {
  width: 20vw;
  max-width: 150px;
  text-align: center;
  font-size: 20pt;
  color: black;
  transition: 0.1s ease;
}

.headerPlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.headerPlay .logo {
  max-width: 200px;
  width: 70vw;
  transition: 0.3s ease;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  font-weight: bold;
}

.mainNav > a {
  width: 20vw;
  max-width: 100px;
  text-align: center;
  font-size: 12pt;
  color: black;
  transition: 0.1s ease;
  text-decoration: none;
}

.headerPlay .mainNav > a {
  width: 20vw;
  max-width: 100px;
  text-align: center;
  font-size: 12pt;
  color: black;
  transition: 0.1s ease;
  text-decoration: none;
}


