html {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}
